#issue-list {


    $header-height: 60px;
    $footer-height: 80px;
    $base-padding: 20px; // consistent spacing between elements

    width: 50%;
    height: 100%;
    position: relative;
    padding-top: $header-height;
    padding-bottom: $footer-height;

    > ul {
        height: 100%;
        overflow-y: scroll;
    }
    .issue {
        display: block;
        margin: 0;
        padding: $base-padding;
        border-bottom: 1px solid whitesmoke;
        &:last-child {
            border-bottom: 0 none;
        }
        &:hover {
            background: lighten(lightblue, 15);
            cursor: pointer;
        }

        a {
            color: #677380;
            &:hover {
                text-decoration: none;
            }
        }

        .issue-title {
            color: #333;
            font-weight: bold;
            font-size: 18px;
            margin: 0;
            &:hover {
                text-decoration: none;
            }
        }

        .issue-meta {
            font-weight: 500;
            font-size: 90%;
            color: #9DA6B0;
            display: block;
            padding: 5px 0 10px 0;
            a:hover {
                text-decoration: underline;
            }
        }

        .issue-body {
            margin: 0;
            word-wrap: break-word;
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    > header {
        display: flex;
        position: absolute;
        height: $header-height;
        top: 0;
        left: 0;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
        #issues-header {
            font-size: 24px;
            margin: 0;
            padding: 0 $base-padding;
        }
    }
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $footer-height;
        background: #fff;
        border-top: 1px solid whitesmoke;
        nav {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 90%;
        }
    }
}
