
/* Custom slim scrollbar
========================================================================== */
.scroll {
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: #9DA6B0;
    }

    &::-webkit-scrollbar-track {
        border-left: 1px solid transparent;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
}
