@import 'utils';
@import 'issue-list';
@import 'issue-detail';
@import 'comments';

html, body {
    height: 100%;
}

body {
    display: flex;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    color: #171922;
}

h3 {
    color: #35373C;
}

#sidebar {
    height: 100%;
    width: 200px;
    background: #232E44;
    flex-shrink: 0;

    #app-icon {
        display: flex;
        align-items: center;
    //    text-align: center;
        margin-top: 20px;
        img {
            width: 80px;
            height: 80px;
        }

        #app-name {
            color: #fff;
            font-size: 16px;
            span:first-child {
                font-weight: bold;
            }
            span:last-child {
                color: #7F858F;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }

    #project-links {
        padding: 15px;
        span {
            display: block;
            padding-bottom: 10px;
            text-transform: uppercase;
            color: #7F858F;
            font-size: 90%;
        }
        a {
            display: block;
            padding: 10px 0;
            color: #B4BDC5;
            &:before {
                padding-right: 10px;
                font-size: 150%;
                vertical-align: bottom;
            }
        }
    }
}

#content-wrapper {
    height: 100%;
    flex-grow: 1;

    #content {
        display: flex;
        height: 100%;
    }
}

.pagination {
    margin: 0;
    .disabled {
        span, span:hover {
            background-color: rgba(0,0,0,0.03);
            color: #ccc;
            user-select: none;
            cursor: default;
        }
    }
}
