html, body {
    height: 100%;
}

body {
    display: flex;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100%;
    width: 200px;
    background: #000;
}

#content-wrapper {
    height: 100%;
    flex-grow: 1;

    #content {
        display: flex;
        height: 100%;
    }

    #issue-list {
        $pagination-height: 80px;
        width: 50%;
        height: 100%;
        position: relative;
        padding: 30px 30px $pagination-height 30px;
        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $pagination-height;
            nav {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 90%;
            }
        }
    }

    #issue-detail {
        width: 50%;
        height: 100%;
        border-left: 1px solid #ccc;
    }
}

.pagination {
    margin: 0;
    .disabled {
        span, span:hover {
            background-color: rgba(0,0,0,0.03);
            color: #ccc;
            user-select: none;
            cursor: default;
        }
    }
}
