@import 'utils';
@import 'issue-list';
@import 'issue-detail';

html, body {
    height: 100%;
}

body {
    display: flex;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    color: #171922;
}

h3 {
    color: #35373C;
}

#sidebar {
    height: 100%;
    width: 200px;
    background: #000;
}

#content-wrapper {
    height: 100%;
    flex-grow: 1;

    #content {
        display: flex;
        height: 100%;
    }
}

.pagination {
    margin: 0;
    .disabled {
        span, span:hover {
            background-color: rgba(0,0,0,0.03);
            color: #ccc;
            user-select: none;
            cursor: default;
        }
    }
}
